.homeContainer {
    height: 97vh;
    background-image: url("./img/615059_4782632210821_909383358_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

.homeInfo {
    /* background-color: rgba(255, 255, 255, .9); */
    padding: 50px;
    border-radius: 25px;
    flex-basis: 10%;
}

.homeInfo p {
    margin-bottom: 0;
}