.homeContainer {
    height: 90.2vh;
    /* background-image: url("./img/615059_4782632210821_909383358_o.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
    justify-content: left;
    align-items: center;
}

.homeInfo {
    /* background-color: rgba(255, 255, 255, .9); */
    padding: 1%;
    border-radius: 25px;
    flex-basis: 10%;
    display:flex;
    justify-content:flex-end
}

.homeInfo p {
    margin-bottom: 0;
}

.tuneEntry {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p {
    margin-bottom: 0 !important
}

.totdHeader {
   
    background-color: #806040!important;
    border-radius: 3px;
    padding: 7px;
    margin-right: 5px;
    display:flex;
    flex-direction: row;
    width:auto;
    align-items: center
}

.totdH3 {
    display:flex;
    text-align: center!important;
    align-items: center;
    margin-bottom:0!important;
    align-self:flex-end!important;
    padding-right:4%

}

.totd{ 
    border-radius: 3px;
    width:70%;
    padding: 7px;
    flex-basis:max-content!important
}