/* #root {
    display: flex;

} */
body {
    margin: 0;
    background-color:#ffc857 ;
}

#ListTabs, form {
    padding:12%;
    display:flex;
    flex-flow: column nowrap;
} 

/* 
.ui.item.menuItem, .ui.item.menu .item{  
    background-color: #FFC857;
}

.ui.item.menuItem .active.item{  
    background-color: #FFC857; 
} */
.item {
    color: #806040 !important;
}

.tab, .active.item {
    color: #ffc857 !important;
    background-color:#177e89 !important;
}
.tuneEntry {
    background-color: #b9c6ae !important;
    color: #806040 !important;
}